.navbar_container {
  height: 70px;
  margin-top: -20px;
  position: relative;
}
.wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex: 1;
  display: flex;
}
.center {
  flex: 1;
  text-align: center;
  display: flex;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;
}
.language {
  font-size: 14px;
  cursor: pointer;
}
.search_container {
  border: 0.5px solid var(--title-color-dark);
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}
.input {
  border: none;
  width: 400px;
}
.logo {
  width: 40px;
}
.menu_item {
  font-size: 14px;
  cursor: pointer;
  color: var(--title-color-dark);
  padding: 5px;
}
